bin
obj
test.sy
test.ll
test.s
test.bin
test_output
.cache
frontend/parser/location.hh
frontend/parser/lexer.cpp
frontend/parser/lexer.h
frontend/parser/yacc.cpp
frontend/parser/yacc.h
compile_commands.json